@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400&display=swap');

@import "components/avatar.css";
@import "components/button.css";
@import "components/banner.css";
@import "components/card.css";

body {
  font-family: 'Josefin Sans', sans-serif;
  background-color: #f0f0f0;
}

.container {
    margin: 0 auto;
    width: 40vw;
    /* overflow-y: hidden; */
}

.categories {
    display: flex;
    justify-content: space-evenly;
    width: auto;
    margin-top: 2em;
    margin-bottom: 2em;
}