.banner {
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.7)), url('https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/background.png');    
    height: 200px;
    color: #cccccc;
    padding: 100px 40px;
    background-size: cover;
    background-position-y: -80px;
}

.hero {
    margin: 0 auto;
    width: 600px;
}

.hero > p {
    margin-bottom: 3em;
}